:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

#zenbu{
  background-image: url("./pages/bg.jpg");
  background-size: cover ;
  background-repeat: no-repeat;
  height: 1200px;
}

#all-nav{
  margin-left: 0px;
  width: 100%;
}

.navbar{
  font-size: 20px;
  width:100%;
}


/* HOME PAGE BODY */
#all{
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
 
}
#center-all{
  vertical-align: auto;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-bottom:35px;
  text-align: center;
}

#digital-t{
  padding-top: 1em;
  margin-bottom: 10vh;
  text-align: center;
  font-style: italic;
  font-size: 5vw;
  color:white;
  font-weight: 700; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FF10F0; 
}

#digital-t-light{
  padding-top: 1em;
  margin-bottom: 10vh;
  text-align: center;
  font-style: italic;
  font-size: 4vw;
  color:white;
  font-weight: 500; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FF10F0; 
}
#create-by{
  font-weight: 100;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-style: italic;
  text-align:center;
  color:white;
}
.mb-2{
  width:39%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10px;
  border: 10px #FF10F0;
  border-radius:10px; 
}

#namae{
  margin-bottom: 0px;
  font-size:20px; 
}
#calculator-samp, #json-samp{
  width:18.5%;
  text-align: center !important;  
  align-items: center !important;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  color:gray;
  margin-top: 15px;
  font-size: 1vw;
}

#calculator-samp{
  margin-right:20px;
}

#hobbies-sec{
  padding: 50px; 
  width:27%;
  margin-left: auto;
  margin-right: auto;
  text-align: center !important;
  color: white;
  text-shadow:1px 1.5px black;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  border-color: 10px #FF10F0 !important; 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
   color:white !important;
    

}
button:focus,button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
 
/* Style the video: 100% width and height to cover the entire window */
#myBtn:hover {
  background: #ddd;
  color: black;
} 

/****CALCULATOR PAGE ***/
#zenbu-calc{
    background-image: url("./pages/bg.jpg");
    background-size: cover ;
    background-repeat: no-repeat;
    height: 1200px;
}
#enter, #calc-buttons{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding:3%
}

.calculator{
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 70%;
} 
#exp-enter{
  width: 170%;
  height: 60px;
} 
 .input{
  text-align: center;
  overflow-x:auto ;
}
.calculator-display-1{
  color:white;
  font-weight: 500;
  font-size: 50px;
  border-color: white;
  border: 2px solid white;
  border-radius: 10px;
  margin-bottom: 30px;
  height: 80px;
  text-shadow: 1px 2px black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  border-color: 10px #FF10F0 !important; 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.calc-btn{
  width:23%;
  height: 90px;
  margin-bottom: 10px;
  font-size: 40%;
  margin: 1%;  
}
.home-btn{
  width: 90%;
  margin-left: auto;
  margin-right: auto; 
}

/*********HOBBIES PAGE *****/
#zenbu-hobbies{
  background-image: url("./pages/bg.jpg");
  background-size: cover ;
  background-repeat: no-repeat;
  height: 1200px;
}
.card {
  width: 40%;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 5 10px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
}

#hobby-card {
  padding-left: 10%;
  padding-right: 10%;
  transition: transform 0.3s, box-shadow 0.3s;
}

.hobbies-card {
  transition: transform 0.3s, box-shadow 0.3s;
  width: 25%;
  background: rgba(133, 126, 126, 0.2)!important;
  border-radius: 16px;
  border-color: 10px #FF10F0 !important; 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)!important;
  backdrop-filter: blur(5px)!important;
  -webkit-backdrop-filter: blur(5px)!important;
  border: 1px solid rgba(255, 255, 255, 0.3)!important;
}

.hobby-pic{
  height: 190px;
}

.hobbies-box {
  display: flex;
  margin-top: 20px;
}

.hobby-images {
  max-width: 300px;
}

.hobbies-card {
  padding: 2px;
   
}
.hobby-title{
  font-size: 40px;
}

.hobby-text, .hobby-title{
  color:white !important;
  text-shadow: 1px 1px black;
}
.hobbies-card:hover {
  transform: scale(1.1);  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}
/*********JSON PAGE *****/
.row{
  width:70%;
}
#zenbu-json{
    background-image: url("./pages/bg.jpg");
    background-size: cover ;
    background-repeat: no-repeat;
    height: 1200px;
}
.json-card{ 
  width: 90%;
  background: rgba(240, 208, 208, 0.2);
  border-radius: 16px;
  border-color: 10px #FF10F0 !important; 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  padding:5%;
  color: white ;
  text-shadow: 1px 3px black;
  margin-bottom: 30px;
  word-wrap:break-word

}

.json-card:hover{
  transform: scale(1.2);;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  transition: transform 0.3s, box-shadow 0.3s;
}
.card-body, .row, .json-card{
  margin-left: auto !important;
  margin-right: auto !important;
}
.row{
  width:90%;
}
/**********SCREENS*************/
@media (prefers-color-scheme: light) {
  :root {
    color: #707b85;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
    text-shadow:1px 1px black;
  }
}

/* SMARTPHONE */
@media screen and (max-width:600px) {
  #zenbu{
    height:1000px;
  }
  #zenbu-calc{
    height:900px ;
  }
  
  #zenbu-json{
  background-image: url("./pages/bg.jpg");
  background-size: cover ;
  background-repeat: no-repeat;
  height: 3200px;
  }
  #zenbu-hobbies{
    height:2200px ;
  }
   #calc-page{
    height:4000px ;
  }
  #digital-t{
    padding-top: 2em;
    font-size: 3em;
    margin-bottom: 0.5em;
    text-shadow:1px 1px black;
    -webkit-text-stroke-color: white; 
  }   
  #create-by, #namae, .mb-2{
    width:100%
  }
 
  #calculator-samp, #json-samp{
    width:100%;
    font-size:1em;
  }
  #hobbies-sec{
    width: 70%;
  }

  /* CALCULATOR PAGE */
  .calculator-display-1{
    width: 90%;
    font-weight: 500;
    font-size: 30px;
    border-color: white;
    border: 2px solid white;
    border-radius: 10px;
    height: 50px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; 
  }
  .calculator-row, #enter,  .calculator-display-1{
    margin-left: auto;
    margin-right: auto;
  }
  #enter{
    width: 100%;
  }
 
  /* HOBBIES PAGE*/
  #digital-t-light{
    padding-top:1em;
    font-size: 3em;
    margin-bottom: 0.5em;
    text-shadow:1px 1px black;
    -webkit-text-stroke-color: white; 
  }
  .hobbies-card {
    transition: transform 0.3s, box-shadow 0.3s;
    width: 70%;
    background: rgba(240, 208, 208, 0.2)!important;
    border-radius: 16px;
    border-color: 10px #FF10F0 !important; 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)!important;
    backdrop-filter: blur(5px)!important;
    -webkit-backdrop-filter: blur(5px)!important;
    border: 1px solid rgba(255, 255, 255, 0.3)!important;
    padding:10px;
    margin-top: 70px;
  }
  .hobby-pic{
    height: 200px;
  }
  .hobbies-box {
    display: flex;
    margin-top: 20px;
    padding-bottom: 20% !important;
  }
  .hobby-images {
    max-width: 300px;
  }
  .hobby-title{
    font-size: 40px;
  }
  .hobby-text, .hobby-title{
    color:white !important;
    text-shadow: 1px 1px black;
  }
  .hobbies-card:hover {
    transform: scale(1.1);  
    box-shadow: 0 0 10px rgba(0, 0, 0, 1); 
  }
  /* JSON PAGE*/
  .json-card{
    padding-bottom: 30px;
  }

/* OTHERS */
  @media (min-width: 768px) {
  .card {
    flex-direction: row;
  }
  .card-image {
    width: 40%;
  }
  .card-content {
    width: 60%;
  }
} 
@media ( max-width: 767px) {
  .card {
    width: 90%;
  }
  .card-image {
    width: 100%;
  }
  .h1-title-hobbies{
    margin-top: 50px;
  }
}
}
@media (min-width: 768px) {
  .card {
    flex-direction: row;
  }
  .card-image {
    width: 40%;
  }
  .card-content {
    width: 60%;
  }
 
}
@media (max-width: 767px) {
  .card {
    width: 90%;
  }
  .card-image {
    width: 100%;
  }
  .h1-title-hobbies{
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  .card {
    width: 90%;
  }

  .card-image {
    width: 100%;
  }
  .h1-title-hobbies{
    margin-top: 50px;
  }
}

  /* TABLET AND HALF WINDOW */
/* CSS for screens with a width of half the viewport */
@media only screen and (min-width: 600px) and (max-width:1000px)  {
  /* HOME SCREEN */
  #digital-t, #digital-t-light{
    font-size: 8vh;
    margin-bottom: 3vh;
  }
  #center-all{
    width:100%
  }
  #hobbies-sec{
    width:40%
  }
  #calculator-samp, #json-samp{
    font-size: 2vh;
  }
  #create-by{
    margin-top: 3vh;
  }
  /* CALCULATOR PAGE*/
  .calculator{
    width: 100%;
  }
  /* JSON PAGE*/
  #zenbu-json{
    height: 1800px;   
  }
  .json-card{
    width: 100%;
  }
  .row{
    width: 100%;
    padding-left: 15%;
  }
 /* HOBBIES PAGE*/
 #zenbu-hobbies{
  height: 1500px;
 }
 .hobbies-card{
  width:40%;
  margin-top: 100px;
 }
 
 #hobby-card{
  margin-top: 10px;
 }
} 